.registerWrapper {
  border: 1px solid #000;
  height: 350px;
  width: 300px;
  margin: 80px auto;
  padding: 0; }
  .registerWrapper h1 {
    margin-top: 50px;
    display: inline-block;
    margin-left: 70px; }
  .registerWrapper label {
    margin: 10px; }
  .registerWrapper input {
    padding: 12px 20px;
    width: 90%;
    margin: 10px 0 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc; }
  .registerWrapper button {
    margin-top: 20px;
    margin-left: 100px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer; }
